/* sub1_3_오시는길.css */


/* bxslider */
section#visual {
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
#visual > img {
  width: 100%;
}
section#title {
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
section {
  text-align: center;
}
section h2 {
  font-size: 60px;
  font-family: 'Noto Sans HK', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #2e2e2e;
  text-transform: uppercase;
}
section h3 {
  font-size: 37px;
  color: #565656;
}
/* 타이틀 이미지 */

section > img {
  max-width: 1920px;
  min-width: 1200px;
  height: 500px;
}


/* breadcrumb */
.location {
  width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  color: #787878;
  padding-bottom: 120px;
}

#map > img {
  width: 1200px;
  height: 1200px;
  padding-top: 100px;
}

/* 커피나무 본사위치 */
#main {
  width: 1200px;
  height: 220px;
  margin: 0 auto;
  text-align: left;
  /* outline: 2px solid green; */
  padding-top: 150px;
  padding-bottom: 140px;
}
.line {
  width: 1200px;
  display: inline-block;
  border-bottom: 5px solid black;
}

#section {
  width: 1200px;
  outline: 2px solid red;
  margin: 0 auto;
  overflow: hidden;
}



/* footer */
#main_footer {
  background: #2e2e2e;
  height: 400px;
  text-align: center;
  color: #fff;
}
#main_footer > p {
  margin: 10px 0 10px 0;
  font-weight: 300;
  font-size: 15px;
}
#main_footer h3{
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main_footer > img {
  margin: 35px 0 0 0
}